@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Merriweather:wght@300;400;700&family=Montserrat:wght@100;200;300;400;700&display=swap')
.back
  max-width: 1110px
  margin: 0 auto
  background-color: #EBEBEB
  padding: 90px 0
.container
  max-width: 100%
  margin: 0 auto
  background-color: #EBEBEB
  padding: 0 50px
.partnerName
  font-size: 24px
  font-family: "Montserrat", sans-serif
  color: #BDBDBD
.work
  font-size: 48px
  font-family: "Merriweather", sans-serif
  color: #333333
  padding-top: 40px
.flex
  display: flex
  align-items: center
.parag
  font-family: "Montserrat", sans-serif
  font-weight: 300
  font-size: 18px
.parag2
  font-family: "Montserrat", sans-serif
  font-weight: 300
  font-size: 18px
.partner__about
  padding-top: 152px
  max-width: 445px
  margin: 0 auto
  padding-left: 30px
.top
  margin-top: 52px
.euroasia__logo
  max-width: 100%
  height: 100%
  object-fit: contain
.partner__number
  cursor: pointer
  font-size: 17px
  font-family: "Lato", sans-serif
  font-weight: 400
  color: #000000
@media screen and (max-width: 1000px)
  .flex
    display: block
    text-align: center
  .partner__about
    max-width: 500px
    padding-left: 0
    padding-top: 60px
  .parag
    text-align: left
  .parag2
    text-align: left
  .work
    text-align: left
@media screen and (max-width: 850px)
  .back
    padding: 60px 0
@media screen and (max-width: 634px)
  .container
    padding: 0 25px
  .work
    font-size: 22px
  .partnerName
    font-size: 22px
@media screen and (max-width: 450px)
  .parag
    font-size: 16px
    line-height: 22px
  .parag2
    font-size: 16px
    line-height: 22px
  .partner__about
    padding-top: 20px
  .top
    margin-top: 40px
  .back
    padding: 20px 0
