@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

.reviews
  width: 100%
  margin: 0 auto

.reviews_container
  width: 1110px
  margin: 140px auto 130px
  padding: 0 0 100px
  overflow: hidden

.reviews_title
  font-family: 'Lato', sans-serif
  font-style: normal
  font-weight: 900
  font-size: 24px
  line-height: 33px
  color: #BDBDBD

.reviews_thanks
  font-family: 'Merriweather'
  font-style: normals
  font-weight: 900
  font-size: 48px
  line-height: 69px
  color: #333333
  margin-top: 40pxs

.swiperPaginationHorizontal
  bottom: -100px
  display: flex
  align-items: center
  justify-content: center
  span
    margin-right: 40px
    &:last-child
      margin-right: 0px

.grey_block
  max-width: 1110px
  background: #EBEBEB
  position: relative

.grey_description
  font-family: "Montserrat"
  font-style: normal
  font-weight: 400
  font-size: 18px
  line-height: 25px
  color: #000000
  max-width: 980px
  margin: 0 auto
  padding: 61px 0px 0px 0px
.photo_block
  max-width: 980px
  display: flex
  align-items: center
  margin: 0 auto
  margin-top: 60px
  padding-bottom: 45px

.photo_description
  margin-left: 35px

.photo_h3
  font-family: 'Montserrat', sans-serif
  font-style: normal
  font-weight: 700
  font-size: 18px
  line-height: 25px
  color: #000000

.photo_h5
  font-family: 'Montserrat', sans-serif
  font-style: normal
  font-weight: 300
  font-size: 14px
  line-height: 19px
  margin-top: 10px
  color: #4F4F4F

.swiperCustomNext
  width: 100px
  display: block
.swiperCustomPrev
  width: 100px
  display: block
