@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Merriweather:wght@300;400;700&family=Montserrat:wght@100;200;300;400;700&display=swap')
.container
  max-width: calc( 100% - 150px )
  margin: 0 auto
.bg
  max-width: 100%
  background: #EBEBEB
.erbol
  max-width: 1110px
  margin: 0 auto

.h5__service
  font-family: "Montserrat", sans-serif
  color: #BDBDBD
  font-size: 24px
  padding-top: 15px

.h1__service
  font-family: "Merriweather", sans-serif
  color: #333333
  font-weight: 900px
  font-size: 48px
  margin-top: 15px

.img__service
    max-width: 350px
    max-height: 365px 
    
    
.card
  position: relative
  width: 350px
  height: 365px
  border-radius: 10px
  z-index: -1

.h2__service
  font-family: "Montserrat", sans-serif
  font-size: 20px
  color: #FFFFFF
  position: absolute
  top: 300px
  left: 30px
  width: 300px
  transition: .4s

.card
  position: relative
  max-width: 355px
  height: 350px
  cursor: pointer
  transition: .1s
  &:hover
    opacity: .9
    transform: translateY(5px)
    .h2__service
      color: #0C4083

.cards
  max-width: 100%
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 30px
  justify-content: center

@media screen and (max-width: 1265px)
  .container
    max-width: calc( 100% - 100px )
@media screen and (max-width: 1165px)
  .cards
    max-width: 760px
    grid-template-columns: repeat(2, 2fr)
    margin: 50px auto
@media screen and (max-width: 800px)
  .cards
    grid-template-columns: repeat(1, 4fr)
    max-width: 350px
    margin: 50px auto
@media screen and (max-width: 635px)
  .h1__service
    font-size: 30px
@media screen and (max-width: 480px)
  .container
    max-width: calc( 100% - 50px )
  .h1__service
    font-size: 25px
@media screen and (max-width: 600px)
  .card
