@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap')
*
  box-sizing: border-box
  margin: 0
  padding: 0
  list-style: none
  text-decoration: none
.wrapper
  overflow: hidden
.swiper.slider-initialized
  overflow: visible
.swiper-button-next,
.swiper-button-prev
  top: 100%

@font-face 
  font-family: "Lato"
  src: url("/fonts/Lato/Lato-Bold.ttf") format("truetype")
  font-style: normal 
  font-weight: 700
@font-face 
  font-family: "Lato"
  src: url("/fonts/Lato/Lato-Light.ttf") format("truetype")
  font-style: normal 
  font-weight: 300
@font-face 
  font-family: "Lato"
  src: url("/fonts/Lato/Lato-Regular.ttf") format("truetype")
  font-style: normal 
  font-weight: 400
@font-face 
  font-family: "Montserrat"
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype")
  font-style: normal 
  font-weight: 400
@font-face 
  font-family: "Montserrat"
  src: url("/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype")
  font-style: normal 
  font-weight: 700
@font-face 
  font-family: "Montserrat"
  src: url("/fonts/Montserrat/Montserrat-Light.ttf") format("truetype")
  font-style: normal 
  font-weight: 300