@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Merriweather:wght@300;400;700&family=Montserrat:wght@100;200;300;400;700&display=swap')

.container
  margin: 0 auto
  padding: 50px 30px
  max-width: calc( 1300px - 150px )

.title__srv
  font-size: 35px
  font-family: Merriweather, sans-serif
  font-style: normal
  color: #333333

.title__srv2
  font-size: 35px
  font-family: Merriweather, sans-serif
  font-style: normal
  color: #005FA3

.card
  max-width: 957px
  margin: 50px auto
  display: flex
  justify-content: space-between
  align-items: center

.img
  max-width: 355px
  object-fit: cover

.image
  width: 100%
  height: 100%

.info__srv
  max-width: 530px
  font-size: 15px
  font-family: "Montserrat", sans-serif
  color: #000000
  word-spacing: 5px
  line-height: 23px
  margin-left: 80px
  font-weight: 300

.info__srv2
  margin-left: 0
  margin-right: 80px
@media screen and (max-width: 920px)
  .info__srv
    margin-left: 60px
  .info__srv2
    margin-right: 60px
    margin-left: 0

@media screen and (max-width: 800px)
  .info__srv
    margin-left: 30px
  .info__srv2
    margin-right: 30px
    margin-left: 0

@media screen and (max-width: 785px)
  .card
    flex-direction: column
  .card2
    display: flex
    flex-direction: column-reverse
    margin: 0
  .info__srv
    margin: 0
    margin-top: 15px
  .info__srv2
    margin: 0
    margin-top: 15px

@media screen and (max-width: 785px)
  .container
    padding: 40px 20px 0
@media screen and (max-width: 550px)
  .title__srv
    font-size: 30px
  .title__srv2
    font-size: 30px
  .card
    margin: 30px auto
@media screen and (max-width: 415px)
  .title__srv
    font-size: 25px
  .title__srv2
    font-size: 25px
