@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Merriweather:wght@300;400;700&family=Montserrat:wght@100;200;300;400;700&display=swap')

.container
  max-width: calc( 100% - 150px )
  margin: 0 auto
  padding: 90px 0 90px 0
.flex
  max-width: 1100px
  display: grid
  grid-template-columns: repeat(2, 1fr)
  margin: 0 auto
.company
  max-width: 100%
.deals
  max-width: 100%
.about
  font-size: 24px
  font-family: "Montserrat", sans-serif
  color: #BDBDBD
.block
  padding-top: 40px
.companyNameOne
  font-size: 48px
  font-family: "Merriweather", sans-serif
  color: #333333
.companyName
  font-size: 48px
  font-family: "Merriweather", sans-serif
  color: #005FA3
.parag
  max-width: 410px
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 300
  font-size: 18px
  line-height: 25px
.parag2
  max-width: 410px
  font-family: 'Montserrat'
  font-style: normal
  font-weight: 300
  font-size: 18px
  line-height: 25px
  padding-top: 20px
.top
  padding-top: 60px
.deal
  max-width: 255px
  height: 255px
  padding: 40px
  background-color: #EBEBEB
  transition: .5s
  cursor: pointer
  &:hover
    background-color: #0C4083
    transform: translate(3px, 5px)
    .deals__number
      color: #f1f1f1
    .deals__title
      color: #f1f1f1
    .deals__case
      color: #f1f1f1
    .deals__case
      text-decoration: none
.deals
  max-width: 550px
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr))
  gap: 30px
.deals__number
  font-size: 55px
  color: #000000
  font-family: 'Montserrat', sans-serif
  font-weight: black
  transition: .4s
.deals__title
  font-size: 14px
  color: #000000
  font-family: 'Montserrat', sans-serif
  font-weight: black
  padding-top: 30px
  transition: .4s
.deals__case
  font-size: 14px
  color: #005FA3
  font-family: 'Montserrat', sans-serif
  font-weight: bold
  text-decoration: underline
  margin-top: 47px
  transition: .4s

@media screen and (max-width: 1130px)
  .container
    max-width: calc( 100% - 100px )
@media screen and (max-width: 1060px)
  .flex
    grid-template-columns: repeat(1, 2fr)
  .parag
    max-width: 100%
  .parag2
    max-width: 100%
  .deals
    margin: 50px auto
  .container
    padding: 40px 0 30px 0
@media screen and (max-width: 634px)
  .deals
    grid-template-columns: repeat(1, 4fr)
    margin: 20px auto
  .companyNameOne
    font-size: 28px
  .companyName
    font-size: 28px
    padding-left: 10px
  .block
    display: flex
    align-items: center
  .top
    padding-top: 30px
@media screen and (max-width: 515px)
  .block
    display: block
  .companyName
    padding-left: 0
  .container
    max-width: calc( 100% - 50px )
@media screen and (max-width: 400px)
  .parag
    font-size: 16px
    line-height: 22px
  .parag2
    font-size: 16px
    line-height: 22px
  .block
    padding-top: 20px
